@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: unset;
    background-color: #111111;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 100;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    background-color: #111111;
    height: 66px;
    width: 100%;
}

.header-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#headerdiv {
    text-align: center;
}

.headerlogo {
    cursor: pointer;
    position: absolute;
    padding: 12px;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}

.logo {
    cursor: pointer;
    height: 42px;
    background-color: #111111;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
}

.logo img {
    vertical-align: middle;
}

.nav_block {
    position: relative;
    z-index: 100;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    border-left: 1px none hsla(0, 0%, 100%, .15);
}

.nav_links {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    height: 66px;
    padding: 27px 10px;
    border-bottom: 1px solid transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration: none;
    line-height: 100%;
}

.nav_links:hover {
    transition: color .3s;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-transform: capitalize;
    height: 66px;
    padding: 27px 10px;
    border-bottom: 1px solid transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border-bottom-color: #d4ff00;
    color: #d4ff00;
    text-decoration: none;
    line-height: 100%;
}

.social_block {
    position: relative;
    z-index: 100;
    border-left-style: solid;
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    float: right;
    height: 66px;
    padding: 23.5px 10px;
    padding-left: 20px;
    position: relative;
    margin-left: auto;
    margin-right: 2%;
}

.social_links {
    cursor: pointer;
    padding: 23.5px 10px;
    margin-left: auto;
    margin-right: auto;
    height: 66px;
    border-bottom: 1px solid transparent;
}

.social_links:hover {
    border-bottom-color: #d4ff00;
}

.social_links img {
    vertical-align: middle;
}

.loader {
    overflow: visible;
    position: fixed;
    z-index: 199;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 150px;
}

.loader.hidden {
    animation: fadeOut 2.5s;
    animation-fill-mode: forwards;
}

.burger {
    visibility: hidden;
    display: none;
}

.menumobile {
    visibility: hidden;
    display: none;
}

#hero {}

.herobox {
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    height: 75vh;
    max-height: 55vw;
    -webkit-box-pack: center;
    position: relative;
}

.videocontainer {
    box-sizing: border-box;
    position: absolute;
    z-index: -2;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-box-flex: 1;
}

.herotext {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    text-overflow: initial;
    color: white;
    font-family: DIN, sans-serif;
    width: 100% !important;
    height: 100%;
    top: 50%;
    transform: translateY( -50%);
}

.herotext h1 {
    margin: 0%;
    font-size: 90pt;
}

.herotext h4 {
    padding-top: 20vh;
    margin: 0%;
    font-size: 20pt;
}

.herovideoi {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    top: -100%;
    z-index: -100;
    transform: translateX(0) translateY(0%);
    background-position: 50% 50%;
    background-size: cover;
    margin: auto;
    object-fit: cover;
    display: inline-block;
    box-sizing: border-box;
}

#contentdiv {
    padding-top: 6px ;
    color: white;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex: 1;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.privacypolicyblock{
    grid-column-start: span 4;
    grid-column-end: span 4;
    grid-row-start: span 3;
    grid-row-end: span 3;
    background-color: #000000;
    border: 1px solid hsla(0,0%,100%,.15);

}
.privacypolicyblock h1{
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}
.about1{
    grid-column-start: span 4;
    grid-column-end: span 4;
    grid-row-start: span 3;
    grid-row-end: span 3;
    background-color: #000000;
    border: 1px solid hsla(0,0%,100%,.15);
}
.about1 h2{
    text-align: center;
}
.profilepicture{
    z-index: -100;
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 3;
    grid-row-end: span 3;
    animation: zoom-profilepic 20s ease 1s forwards;
    background-image: url(images/profilepic.jpg);

}
.profilepicture img{
    width: 100%;
    object-fit: scale-down;
    animation: zoom-profilepic 20s ease 1s forwards;
}
@keyframes zoom-profilepic{
    0% {
        opacity: 0;
        transform: scale(1.4);
    }
    5% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);}
}
.contentcontainer1{
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 3;
    grid-row-end: span 3;
    flex: 1;
    background-color: #000000;
    border: 1px solid hsla(0,0%,100%,.15);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.contentcontainer1 h1 {
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.contentcontainer1 h2 {
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.contentcontainer1 p1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.instagram1{
    border: 1px solid hsla(0,0%,100%,.15);
    background-image: linear-gradient(28deg,#fd1d1d,#e1306c 33.33%,#c13584 66.66%,#833ab4);
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    grid-column-start: span 2;
    grid-column-end: span 2;
}
.instagram1 h1{
    font-family: DIN,sans-serif;
    font-weight: 500;
}
.instagram1 h2 {
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.instagram1 p1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.tweet{
    border: 1px solid hsla(0,0%,100%,.15);
    background-image: linear-gradient(135deg,#1da1f2,#0d90e0);
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    grid-column-start: span 2;
    grid-column-end: span 2;
}
.tweet h1{
    font-family: DIN,sans-serif;
    font-weight: 500;
}
.tweet h2 {
    padding-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}
.tweet p1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.footer {
    padding: 5px;
    color: #656565;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    background-color: #000000;
}
.coprightandwhomadethis{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.copyrightbottom{
    float: left;
}
.creditsbottom {
    float: right;
}
.policy {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 8px;
}
.policy ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;

}
.policy li{
    padding: 10px;
    color: #ffffff;
}
.policy a{
    color: #ffffff;
}
.policy a:hover{
    color: #d4ff00;
}
.disclaimer {
    width: 100%;
    padding-top: 7px;
    margin: 0px;
    text-align: center;
}
.disclaimer  p1{
    color: #aaaaaa;
    font-size: 6px;
    bottom: 0px;
    text-align: center;
}

.text_1 {
    animation: text1;
}

.text_2 {
    animation: text2;
}

.text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

.text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes text2 {
    0%, 50%, 100% {
        width: 0;
    }
    60%, 90% {
        width: 8em;
    }
}

@keyframes text1 {
    0%, 50%, 100% {
        width: 0;
    }
    10%, 40% {
        width: 6.5em;
    }
}

@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@media (max-width: 1200px) {
    .herotext {
        vertical-align: middle;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        text-overflow: initial;
        color: white;
        font-family: DIN, sans-serif;
        width: 100% !important;
        height: 100%;
        top: 50%;
        transform: translateY( -50%);
    }
    .herotext h1 {
        font-size: 10vw;
        margin: 0%;
    }
    .herotext h4 {
        font-size: 3vw;
        margin: 0%;
        padding-top: 14vw;
    }
}

@media (max-width: 1050px) {
    .hero {
        height: 400px;
    }
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: auto;
        z-index: 100;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 0.15);
        background-color: #111111;
        height: 66px;
    }
    .burger {
        position: relative;
        float: right;
        margin: 15px;
        cursor: pointer;
    }
    .burger:hover {
        animation: spin 0.3s linear 1;
        transform: rotate(90deg)
    }
    .header-button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    .headerlogo {
        margin-left: 10px;
        padding: 10px;
        cursor: pointer;
        height: 42px;
        left: 0%;
        position: absolute;
    }
    .logo {
        cursor: pointer;
        height: 42px;
        background-color: #111111;
        position: absolute;
        z-index: 100;
        transform: translate(0, 0);
    }
    .buttonsthatdostuff {
        width: 100%;
    }
    .nav_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_links {
        font-size: 20px;
        text-align: center;
    }
    .nav_links a {
        font-size: 20px;
    }
    .nav_links:hover {
        font-size: 20px;
    }
    .social_block {
        width: 100%;
        border-left: none;
        grid-template-columns: repeat(4, 45px);
        grid-template-rows: repeat(4, 45px);
        grid-gap: 0.5em;
        justify-content: start;
        display: flex;
    }
    .social_links {
        display: flex;
        align-items: center;
        height: 25px;
        justify-content: center;
        width: 25px;
        padding: 0px 0px;
    }
    .menumobile {
        visibility: visible;
        display: unset;
        position: relative;
        float: right;
        margin: 15px;
    }
    .menuboxmobile {
        visibility: visible;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, 0.65);
        border-left: #111111;
        top: 66px;
        width: 40vw;
        height: 93vh;
        right: -1000px;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    #webapp_cover {
        position: absolute;
        top: 100%;
        right: 15px;
        left: 0;
        width: 39px;
        transform: translateY(0%) translatex(-100%) scale(.90);
    }
    #menu_button {
        width: 39px;
        overflow: hidden;
    }
    #menu_checkbox {
        display: none;
    }
    #menu_label {
        position: relative;
        display: block;
        height: 29px;
        cursor: pointer;
    }
    #menu_label:before, #menu_label:after, #menu_text_bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #d4ff00;
    }
    #menu_label:before, #menu_label:after {
        content: '';
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    }
    #menu_label:before {
        top: 0;
    }
    #menu_label:after {
        top: 12px;
    }
    #menu_text_bar {
        top: 24px;
    }
    #menu_text_bar:before {
        content: 'MENU';
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        color: #d4ff00;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        text-align: center;
    }
    #menu_checkbox:checked+#menu_label:before {
        left: -39px;
    }
    #menu_checkbox:checked+#menu_label:after {
        left: 39px;
    }
    #menu_checkbox:checked+#menu_label #menu_text_bar:before {
        animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
    }
    @keyframes moveUpThenDown {
        0% {
            top: 0;
        }
        50% {
            top: -27px;
        }
        100% {
            top: -14px;
        }
    }
    @keyframes shakeWhileMovingUp {
        0% {
            transform: rotateZ(0);
        }
        25% {
            transform: rotateZ(-10deg);
        }
        50% {
            transform: rotateZ(0deg);
        }
        75% {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(0);
        }
    }
    @keyframes shakeWhileMovingDown {
        0% {
            transform: rotateZ(0);
        }
        80% {
            transform: rotateZ(3deg);
        }
        90% {
            transform: rotateZ(-3deg);
        }
        100% {
            transform: rotateZ(0);
        }
    }
}

@media (max-width: 810px) {
    .herotext h1 {
        font-size: 10vw;
        margin: 0%;
    }
    .herotext h4 {
        font-size: 3vw;
        margin: 0%;
        padding-top: 25%;
    }
    .menuboxmobile {
        width: 100vw;
    }
    #contentdiv{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    .top-bar a:not(:first-child) {
        visibility: visible;
    }
    .top-bar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 950px) {
    .top-bar.responsive {
        position: relative;
    }
    .top-bar.responsive .icon {
        visibility: visible;
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-bar.headerlogo {
        visibility: visible;
    }
    .top-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .top-bar.social_block {
        visibility: visible;
    }

}

@media screen and (max-height: 430px) {
    .herotext h4 {
        padding-top: 13%;
        font-size: 15px;
    }

    .herotext h1 {
        font-size: 30px;
    }
    .footer {
        font-weight: 100;
    }

}